.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project--title {
    margin-top: 10vh;
    margin-bottom: 1vh;
    font-size: calc(2rem + 5vw);
    color: white;
}

.project__list ul{
    color: rgb(92, 92, 92);
    font-size: .7rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 650px;
    margin-left: 2vw;
    margin-right: 2vw;
}

.project__list li {
    margin: .5rem 1rem;
    cursor: pointer;
    transition: all .8s ease-in-out;
    list-style: none;
}

.project__list li:hover {
    color: tomato;
}

.project__container {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 20vh;
}
.project__wrapper {
    max-width: 900px;
    
    position: relative;
    
}

.project__content-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: calc(2vw + 20px);
}



.project__content-wrapper .project__thumnail--wrapper {
    padding: 0 2vw;
}

.project__thumnail--wrapper .project__thumnail--image {
    max-width: 265px;
    max-height: 500px;
    width: calc(190px + 10vw);
    height: calc(380px + 15vw);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 10px;
}

.project__arrow--left {
  text-align: left;
  position: absolute;
  left: 0;
  top: 250px;
  width: 44px;
  height: 44px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: all .5s ease-in-out;

}

.project__arrow--right {
  text-align: right;
  position: absolute;
  right: 0;
  top: 250px;
  width: 44px;
  height: 44px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: all 1.5s ease-in-out;
}

.project__arrow--left:hover,
.project__arrow--right:hover {
  color: tomato;
}

.project__thumnail--wrapper .project__thumnail--title {
    margin-bottom: 1rem;
    text-align: center;
    color: white;
    font-size: .8rem;
}

.project__thumnail__text {
    padding: 2.5rem 2vw;
    color: white;
    font-size: .7rem;
    line-height: 1.8rem;
    font-weight: 100;
    width: calc(150px + 10vw);
    max-width: 350px;
}

.project__thumnail__text a {
    color: #858585;
}

.project__thumnail__text a:hover {
    color: tomato;
}


@media screen and (max-width: 700px){
    .project__wrapper .project__arrow--right {
        right: 8%;

    }
    .project__wrapper .project__arrow--left {
        left: 8%;
    }
}


.projectInLeft .project__content-wrapper {
   animation: projectInLeft 2.5s
}
.projectOutLeft .project__content-wrapper{
  animation: projectOutLeft 1.5s
}
.projectInRight .project__content-wrapper{
  animation: projectInRight 2.5s
}
.projectOutRight .project__content-wrapper{
  animation: projectOutRight 1.5s
}



  
  @keyframes projectInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-10%, 0, 0);
      -ms-transform: translate3d(-10%, 0, 0);
      transform: translate3d(-10%, 0, 0)
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0)
    }
    100% {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none
    }
  }
  

  @-webkit-keyframes projectOutLeft {
    20% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0)
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(-10%, 0, 0);
      transform: translate3d(-10%, 0, 0)
    }
  }
  
  @keyframes projectOutLeft {
    20% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0)
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(-10%, 0, 0);
      -ms-transform: translate3d(-10%, 0, 0);
      transform: translate3d(-10%, 0, 0)
    }
  }
  
 
  
  @-webkit-keyframes projectInRight {

    0% {
      opacity: 0;
      -webkit-transform: translate3d(10%, 0, 0);
      transform: translate3d(10%, 0, 0)
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0)
    }
    100% {
      -webkit-transform: none;
      transform: none
    }
  }
  
  @keyframes projectInRight {

    0% {
      opacity: 0;
      -webkit-transform: translate3d(10%, 0, 0);
      -ms-transform: translate3d(10%, 0, 0);
      transform: translate3d(10%, 0, 0)
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0)
    }
    100% {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none
    }
  }
  

  
  @-webkit-keyframes projectOutRight {
    20% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0)
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(10%, 0, 0);
      transform: translate3d(10%, 0, 0)
    }
  }
  
  @keyframes projectOutRight {
    20% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0)
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(10%, 0, 0);
      -ms-transform: translate3d(10%, 0, 0);
      transform: translate3d(10%, 0, 0)
    }
  }
  
 