.hello {
    height: 100vh;
    background-color: whitesmoke;

}

.hello p {
    color: #343434;
    position: absolute;
    font-size : 5rem;
    font-weight: 600;
    transform: translate3d(10%, -35%, 0);
}