.menu {
  position: relative;
}

.global-menu {
  transition: all .5s;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: calc(3vh + 30px) calc(2vw + 20px);
  font-size: calc(1vw + 1rem);
  color: whitesmoke;
  line-height: calc(3vw + 3rem);
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 900;
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}

.global-menu li {
  text-align: center;
  list-style: none;
}

.global-menu span:hover {
  cursor: pointer;
}

.global-menu span{
  position: relative;
}

.global-menu span:after {
  content: '';
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  background-color: white;
  transform: scaleX(0);
  transition: all .3s;
}

.global-menu span:hover:after {
  transform: scaleX(1);
}

.global-menu--on { /* body class */
  overflow: hidden;
}

.global-menu--on .global-menu {
  opacity: 100;
  transform: translate3d(0, 0, 0);
}

.global-menu--on .global-menu:before {
  content: '';
  position: fixed;
  top: 2vh;
  left: 2vw;
  right: 2vw;
  height: 50px;
  border-top: 1px solid #343434;
  z-index: 1000;
}

.global-menu__side {
  position: fixed;
  width: 10rem;
  color: white;
  text-align: center;
  top: 50%;
}

.global-menu__side.global-menu__side--left {
  left: calc(2vw + 10px);
  transform-origin: left bottom;
  transform: rotateZ(90deg) translate3d(-65%, 0, 0);

}

.global-menu__side.global-menu__side--right {
  right: calc(2vw + 10px);
  transform-origin: right top;
  transform: rotateZ(90deg) translate3d(50%, 0, 0);
  top: 50%;
}
