.menu {
  position: relative;
}

.global-menu {
  transition: all .5s;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: calc(3vh + 30px) calc(2vw + 20px);
  font-size: calc(1vw + 2rem);
  color: whitesmoke;
  
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 900;
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}

.global-menu ul:before {
  content: 'ME';
  position: absolute;
  top: 0;
  left: -18%;
  font-size: calc(11rem + 20vw);
  color: #3d3d3d;
  font-weight: 600;
  z-index: 1;
}
.global-menu ul:after {
  content: 'NU';
  font-size: calc(11rem + 20vw);
  color: #3d3d3d;
  font-weight: 600;
  position: absolute;
  right: -20%;
  bottom: 10%;
  transform : rotateZ(-90deg);
  z-index: 1;
}

.global-menu ul {
  line-height: calc(3vw + 5rem);
}
.global-menu li {
  position: relative;
  text-align: center;
  list-style: none;
  z-index: 10;
}

.global-menu span:hover {
  cursor: pointer;
}

.global-menu span{
  position: relative;
}

.global-menu span:after {
  content: '';
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  background-color: white;
  transform: scaleX(0);
  transition: all .3s;
}

.global-menu span:hover:after {
  transform: scaleX(1);
}

.global-menu--on { /* body class */
  overflow: hidden;
}

.global-menu--on .global-menu {
  opacity: 100;
  transform: translate3d(0, 0, 0);
}

.global-menu--on .global-menu:before {
  content: '';
  position: fixed;
  top: 2vh;
  left: 2vw;
  right: 2vw;
  height: 50px;
  border-top: 1px solid #343434;
  z-index: 1000;
}

.global-menu__side {
  position: fixed;
  width: 10rem;
  color: #727272;
  text-align: center;
  top: 50%;
}

.global-menu__side:hover {
  cursor: pointer;
  color: tomato;
  transition: all .3s;
}

.global-menu__side.global-menu__side--left {
  left: calc(2vw + 10px);
  transform-origin: left bottom;
  transform: rotateZ(90deg) translate3d(-65%, 0, 0);

}

.global-menu__side.global-menu__side--right {
  right: calc(2vw + 10px);
  transform-origin: right top;
  transform: rotateZ(90deg) translate3d(50%, 0, 0);
}

@media screen and (max-width: 700px){
  .global-menu__side {
    top: 92%;
  }
  .global-menu__side p {
    display: none;
  }
}
