html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

button:focus {
  outline: 0;
}

/* CSS reset */
body {
  overflow-x: hidden;
  background-color: black;


}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.contents {
  width: 100%;
}

.content {
  padding-left: 2vw;
  padding-right: 2vw;
  
}

.global-header:before {
  position: fixed;
  content: "";
  top: 2vh;
  left: 2vw;
  width: 1px;
  height: 96vh;
  background-color: #343434;
  z-index: 1000;
}

.global-header {
  position: fixed;
  top: 2vh;
  left: 2vw;
  right: 2vw;
  height: 50px;
  border-top: 1px solid #343434;
  z-index: 1000;
}

.global-header:after {
  position: fixed;
  content: "";
  top: 2vh;
  right: 2vw;
  width: 1px;
  height: 96vh;
  background-color: #343434;
  z-index: 1000;
}

.global-footer {
  position: fixed;
  top: 98vh;
  left: 2vw;
  right: 2vw;
  border-top: 1px solid #343434;
  z-index: 900;
}


.content {
  background-color: black;
  transition: transform 0.5s, opacity 0.5s;
}
.transition-appear {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

.transition-leave.transition-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }


