.hello {
    margin-top: 20vh;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;

}

.hello__wrapper {
    width: 100vw;
    margin-top: 2vh;
}

.hello__wrapper:nth-child(2) {

    background-color: whitesmoke;
}

.hello__wrapper .hello__text__title {
    text-align: center;
    color: white;
    font-size: 2rem;
    transform: translate3d(0, 200%, 0);
}
.hello__wrapper:nth-child(2) .hello__text__title {
    color: black;
}

.greeting {
    color: white;
    text-align: center;
}

.hello__text__wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15vh 1rem 30vh 1rem;
    font-size: .8rem;
    font-weight: 100;
    line-height: 1.5rem;
}


.hello__text--korean {
    color: whitesmoke;
padding: 1rem;
max-width: 320px;
}

.hello__text--english {
    color: whitesmoke;
    padding: 1rem;
    max-width: 320px;
}

.hello__wrapper:nth-child(2) .hello__text--english,
.hello__wrapper:nth-child(2) .hello__text--korean {
    color: black;
}

.hello__quote {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    padding: 10vh 3rem 50vh 3rem;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1rem;
}

.hello__quote p:last-child {
    text-align: center;
    margin-top: 1rem;
}