.hello {
  margin-top: 20vh;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}

.greeting {
  color: white;
  text-align: center;
}

.hello__wrapper {
  width: 100vw;
}

.hello__wrapper:nth-child(3),
.hello__wrapper:nth-child(4) {
  background-color: whitesmoke;
}

.hello__wrapper:nth-child(5) {
  background-color: #383838;
}

.hello__wrapper .hello__text__title {
  display: flex;
  justify-content: center;
}

.hello__wrapper .hello__text__title span{
  padding: 2vw;
  max-width: 320px;
  text-align: center;
  color: white;
  font-size: 2.2rem;
  transform: translate3d(0%, 100%, 0);
}

.hello__wrapper:nth-child(3) .hello__text__title span{
  color: black;
}

.hello__text__wrapper {
  margin : 10vh auto;
  max-width: 920px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 1rem;
  font-size: 0.8rem;
  font-weight: 100;
  line-height: 1.5rem;
  word-break: keep-all;
  white-space: pre-wrap;
}

.hello__text--korean {
  color: whitesmoke;
  margin: 15vh 1rem 5vh;
  max-width: 19rem;
  opacity: 0;
  transform: translate3d(0, 5%, 0);
  transition: all 2s ease-in-out;
}

.hello__wrapper--active .hello__text--korean {
  opacity: 100;
  transform: translate3d(0, 0, 0);
}

.hello__text--english {
  margin: 15vh 1rem 25vh;
  color: whitesmoke;
  max-width: 19rem;
  opacity: 0;
  transform: translate3d(0, 50%, 0);
  transition: all 3s ease-in-out;
}

.hello__wrapper--active .hello__text--english {
    opacity: 100;
    transform: translate3d(0, 30%, 0);
}

.hello__wrapper:nth-child(3) .hello__text--english,
.hello__wrapper:nth-child(3) .hello__text--korean {
  color: black;
}

.hello__quote {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
  margin: 30vh auto 70vh;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1rem;
}

.hello__quote p:last-child {
  text-align: center;
  margin-top: 1rem;
}

@media screen and (min-width: 701px){
  .hello__wrapper .hello__text__title span{
    max-width: 20rem;
    text-align: center;
    color: white;
    font-size: 3rem;
    transform: translate3d(50%, 100%, 0);
  }

  .hello__text--english {
    margin-top: 30vh;
    margin-bottom: 40vh;
  }

  .hello__text__wrapper {
    justify-content: space-around;
  }
}