.home__container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}
.home__logo-container {
    position: relative;
    width: calc(200px + 10vw);
    height: calc(200px + 10vw);
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.home__connectingLine--outer {
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 10
}

.home__connectingLine--left {
    position: relative;
    width: 50%;
    height: 50%;
}

.home__connectingLine--right {
    position: relative;
    width: 50%;
    height: 50%;
}

.home__connectingLine {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 50%;
}

.home__connectingLine__mask--inner {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1;
}

.home__dot--left,
.home__dot--center,
.home__dot--right {
    position: absolute;
    bottom: 50%;
    width: 10%;
    height: 10%;
    background-color: whitesmoke;
    border-radius: 50%;
    z-index: 100;
    opacity: 0;
}

.home__dot--left {
    left: 0;
    transform: translate3d(-50%, 50%, 0);
    opacity: 0;
}

.home__dot--center {
    left: 50%;
    transform: translate3d(-50%, 50%, 0);
    opacity: 0;
}

.home__dot--right {
    right: 0;
    transform: translate3d(50%, 50%, 0);
    opacity: 0;
}

.home__connectingLine__mask--bottom {
    position: absolute;
    bottom: 0;
    left:0;
    background-color: black;
    width: 100%;
    height: 50%;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.home__connectingLine__mask--outer {
    position: absolute;
    top:0;
    left: 0;
    width: 130%;
    height: 50%;
    background-color: black;
    transform: translate3d(-20%, 0, 0);
    z-index: 10;
}
.home__title {
    color: white;
    opacity: 0;
}

.home__title p {
    font-size: 3.3rem;
}




.home--active .home__dot--left,
.home--active .home__dot--center,
.home--active .home__dot--right {
    animation: showUp 0.8s;
    opacity: 100;

}

@keyframes showUp {
    0% {
        width: 0%;
        height: 0%;
    }
    80%{
        width: 12%;
        height: 12%;
        opacity: 100;
    }
    100%{ 
        width: 10%;
        height: 10%;       
    }
}

.home--active .home__dot--center {
    transition-delay: 1.4s;
    animation-delay: 0.8s;
}

.home--active .home__dot--right {
    transition-delay: 2.2s;
    animation-delay: 1.6s;
}

.home--played .home__dot--left,
.home--played .home__dot--center,
.home--played .home__dot--right {
    opacity: 100;
    width: 10%;
    height: 10%;
}

.home--active .home__connectingLine__mask--outer {
    transform: rotateZ(-179deg); 
    transform-origin: left bottom;
    transition: all 1.2s linear;
    transition-delay: 2.4s;
}

.home--played .home__connectingLine__mask--outer {
    transform: rotateZ(-179deg); 
    transform-origin: left bottom;
}

.home--active .home__connectingLine--right .home__connectingLine__mask--inner{
    transform: rotateZ(-180deg);
    transform-origin: left bottom;
    transition: all 1.2s linear;
    transition-delay: 3s;
}

.home--played .home__connectingLine--right .home__connectingLine__mask--inner{
    transform: rotateZ(-180deg);
    transform-origin: left bottom;
}

.home--active .home__connectingLine--left .home__connectingLine__mask--inner{
    transform: rotateZ(-180deg);
    transform-origin: left bottom;
    transition: all 1.2s linear;
    transition-delay: 3.8s;
}

.home--played .home__connectingLine--left .home__connectingLine__mask--inner{
    transform: rotateZ(-180deg);
    transform-origin: left bottom;
}

.home--active .home__title {
    opacity: 100;
    transition: all 1s;
    transition-delay: 5s;
}

.home--played .home__title {
    opacity: 100;
}

.home__subtitle {
    width: 100%;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.home__subtitle .home__url {
    font-size: .7rem;
    color: tomato;
}

.home__subtitle .home__url-title {
    margin-top: 1rem;
    font-size: 1rem;
    color: gray;
    letter-spacing: .5rem;
    text-emphasis: dot;
    text-emphasis-position: under left;
    transition: all .5s ease;
}

.home__subtitle .home__url-title:hover {
    color: whitesmoke;
}

#scroll-down {
    position: absolute;
    bottom: 5%;
    color: gray;
    font-size: 1.5rem;
    animation: scrollDown 1s ease infinite;
}

@keyframes scrollDown {
    50% {
        transform: translate3d(0, -15%, 0);
    }
}

.home--active .home__subtitle {
    opacity: 100;
    transition: all 1s;
    transition-delay: 6s;
}

.home--played .home__subtitle {
    opacity: 100;
}